<mat-spinner *ngIf="loading" class="loading-spinner"></mat-spinner>
<div *ngIf="!loading">
  <mat-list>
    <mat-list-item  *ngFor="let pregunta of preguntas" [routerLink]="['preguntas',pregunta._id]">
      <i *ngIf="pregunta.icon == 'none'" mat-list-icon class="material-icons help">help</i>
      <i *ngIf="pregunta.icon != 'none'" mat-list-icon class="{{pregunta.icon}}"></i>
      <h3 mat-line>{{pregunta.titulo}}</h3>
      <p mat-line>
        <small>{{pregunta.respuestas.length}} respuestas - {{pregunta.fechaCreada | amLocale: 'es' | amTimeAgo }}</small>
      </p>
    </mat-list-item>
  </mat-list>
</div>