
<form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input matInput 
            formControlName="nombre"
            type="text"
            placeholder="Nombre"
            id="nombre">
    </mat-form-field>
    <mat-form-field>
      <input matInput 
            formControlName="apellido"
            type="text"
            placeholder="Apellido"
            id="apellido">
    </mat-form-field>
    <mat-form-field>
      <input matInput 
            formControlName="email"
            type="text"
            placeholder="Correo Electronico"
            id="email">
    </mat-form-field>
    <mat-form-field>
      <input matInput 
            class="mat-input-element mat-form-field-autofill-control cdk-text-field-autofill-monitored ng-untouched ng-pristine ng-invalid"
            formControlName="password"
            type="password"
            placeholder="Contraseña"
            id="password">
    </mat-form-field>
    <mat-form-field>
      <input matInput 
            class="mat-input-element mat-form-field-autofill-control cdk-text-field-autofill-monitored ng-untouched ng-pristine ng-invalid"
            formControlName="confirmar_password"
            type="password"
            placeholder="Confirmar Contraseña"
            id="confirmar_password">
    </mat-form-field>
    <button type="submit" mat-raised-button color="accent" [disabled]="!signUpForm.valid"  
    onclick="if (password.value !== confirmar_password.value){
              alert('Las contraseñas no coinciden'); 
              password.value=''; confirmar_password.value=''; 
              }"
    >Crar Cuenta</button>
  </form>
