<mat-toolbar color="primary">
  <span [routerLink]="['/']">Platzi - Overflow</span>
  <span class="spacer"></span>
  <button *ngIf="!estaLogueado()" [routerLink]="['/signin']" >
    <mat-icon >account_circle</mat-icon>
  </button>
  <div *ngIf="estaLogueado()">

    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item disabled>
        {{fullNombres()}}
      </button>
      <button mat-menu-item (click)="logout()">
        Cerrar sesión
      </button>
    </mat-menu>
    
  </div>
</mat-toolbar>
  
<router-outlet></router-outlet>

